@font-face {
    font-family : 'Merriweather';
    src         : url('/fonts/Linearicons-Free.ttf');
    src         : url('/fonts/Linearicons-Free.woff2')
    format('woff'), url('/Linearicons-Free.eot') format('truetype');
    font-weight : normal;
    font-style  : normal;
}